node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store


node_modules
.expo
.DS_Store
.idea
.vs
app.json
babel.config.js
package-lock.json
web-build
.gitignore

assets/yelp-key.txt